.content {
    margin-top: 10px;
    transition: max-height 0.2s;
    overflow: hidden;

    &[aria-hidden="true"] {
        max-height: 0;
        margin-bottom: 10px;
    }

    &[aria-hidden="false"] {
        max-height: var(--containerHeight, 1000px);
        margin-bottom: 10px;
    }
}

/* Everything after this is merely aesthetics */
* {
    box-sizing: border-box;
}

.container {
    font-family: HeliosCond, serif;
    line-height: 1.2;
}

.trigger {
    font-size: 1em;
    display: flex;
    align-items: center;
    padding: 0 20px;
    min-height: 45px;
    border: 2px solid #0079c2;
    background-color: transparent;
    color: #212121;

    &:focus {
        border: 2px solid #0079c2;
        outline: 0;
    }

    [data-drawer-showing="true"] & {
        background-color: #0079fa;
        color: white;
        border: 2px solid transparent;
    }
}

.container + .container {
    margin-top: 20px;
}

.content {
    display: flex;
    line-height: 1.4;
    max-width: 800px;
}
