@font-face {
    font-family: "HeliosCond";
    src:  url("./fonts/HeliosCond.otf") ;
    font-weight: normal;
}

@font-face {
    font-family: "HeliosCondBlack";
    src: url("./fonts/HeliosCondBlack.otf");
    font-weight: normal;
}

