@font-face {
    font-family: "HeliosCond";
    src:  url("./HeliosCond.otf") ;
    font-weight: normal;
}
@font-face {
    font-family: "HeliosCondBlack";
    src: url("./HeliosCondBlack.otf");
    font-weight: normal;
}

