@import url('./Mixcins.scss');
@import url('./Ð¡onstants.scss');

body{
    font-family: HeliosCond;
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContener{
    width: 100%;
    max-width: 1838px;
    margin: 0 auto;
    padding: 0 20px;
}
button{
    cursor: pointer;
    background-color: #0079C2;
    color: #ffff;
    border: none;
}
h1{
   
    font-weight: 700;
    font-size: 208px;
    line-height: 242px;
}
h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    
}
h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}
a{
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-decoration: none;
    color: #0079C2;
}
.contenerStage{
    margin: 24px auto;
    width: 532px ;
    max-width:100%;
}